*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
}
#heading
{
    font-size: 3vw;
    font-weight: bolder;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit
{
    display: none;
}
.innercontainer
{
    height: calc(100vh-3vw);
    width: 100%;
    /* margin: auto; */
    display: flex;
}
.row-1{
    
    flex: 1;
}
form {
    width: 70%;
    margin: 2vw auto;
    border: 2px solid black;
    padding: 2vw;
}

label {
    display: block;
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: bolder;
}

.input-container {
    margin-bottom: 2vw;
}

input {
    width: 100%;
    padding: 1vw;
    box-sizing: border-box;
    margin-bottom: 1vw;
}

button {
    background-color: #4CAF50;
    margin-top: 1vw;
    color: white;
    padding: 1vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 1vw;
}

button:hover {
    background-color: #45a049;
}
.row-2
{
   
    flex: 2;
    padding: 2vw;
}
table {
    
    padding: 2vw;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1vw;
}

th, td {
    border: 1px solid #ddd;
    padding: 1vw;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
#msg
{
    font-size: 1.5vw;
    color: red;
}
@media (max-width:600px) {

    .innercontainer{
        display: flex;
        flex-direction: column;
    }
     label
    {
       font-size: 5vh;
    }
    button {
        font-size: 5vh;
    }
    table{
        font-size: 5vh;
    }
    #heading
    {
        font-size: 8vh;
    }
    .btn
    {
        font-size: 3vh;
    }
  
}
